.body1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}
.topStripe2 {
    background-color: rgba(252, 255, 206, 0);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    transition: 0.3s;
}

.logo {
    background-color: rgba(139, 139, 139, 0);
    width: 280px;
    height: 100px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.imgLogo {
    width: 250px;
    transition: transform 0.3s ease;
}
.imgLogo:hover {
    transform: scale(1.02);
}
.buttonsStripe {
    background-color: rgba(224, 224, 224, 0);
    width: 580px;
    height: 100px;
    margin-right: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: 0.3s;
}

.buttonS1 {
    width: 200px;
    height: 35px;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    transition: 0.3s;
    border: 2px solid darkcyan;
}
.buttonS1:hover {
    background-color: darkcyan;
}
.buttonS1:hover .buttonSText {
    color: white;
}

.buttonSText {
    margin-top: 5px;
    color:darkcyan;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.linkIndex {
    background-color: rgba(0, 0, 0, 0);
    width: 280px;
    height: 35px;
    position: absolute;
    z-index: 1;
}

.feed1 {
    background-color: aliceblue;
    width: 50%;
    border-radius: 10px;
    transition: 0.3s;
}
.text1 {
    font-family: 'arial', sans-serif;
    font-size: 20px;
    padding: 0 100px 100px 100px;
    transition: 0.3s;
}
h2 {
    font-family: 'arial', sans-serif;
    font-weight: 200;
    font-size: 30px;
    transition: 0.3s;
    color: rgb(0, 78, 33);
    box-shadow: 5px 5px 10px rgb(0, 78, 33);
    border-radius: 10px;
    padding: 10px;
}
p {
    transition: 0.3s;
    padding: 10px;
}

p:hover {
    color: rgb(0, 78, 33);
    scale: 1.3;
    transform: translateX(60px);
    cursor: none;
}

@media (max-width: 760px) {
    .feed1 {
        width: 150%;
    }
    .buttonsStripe {
        display:block;
      }
    .topStripe2 {
        height: 130px;
        gap: 50px;
        
    }
}